body {
	/*background: green;*/
}

.ed-header {
	background: url(../../images/header-bg.jpg);
}

	.ed-header img {
		.ed-header img {
		position: relative;
		top: -21px;

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;

		-webkit-box-shadow: 0px 0px 10px 0px rgba(74, 0, 0, 0.22);
		-moz-box-shadow:    0px 0px 10px 0px rgba(74, 0, 0, 0.22);
		box-shadow:         0px 0px 10px 0px rgba(74, 0, 0, 0.22);
	}
	
	.ed-logout {
		background: #ff8004
}

	.ed-logout span {
		color: #fff;
		text-decoration: none;
		padding: 10px 5px 10px 10px;
		font-size: 12px;
		display: inline-block;
	}

	.ed-logout span a {
		color: #fff;
		text-decoration: none;
		font-weight: bold;
	}
	
}
/*Start top menu*/

.ed-menu {
	background: #4f3856;
	height: 50px;
	
}
	.ed-menu ul {
		/*margin: 8px 0 0 0;*/
		padding: 0;
	}

		.ed-menu li {
			/*display: inline;
			color: #676767;
			font-size: 14px;
			line-height: 18px;
			padding: 9px 0px;
			margin: 0 20px;*/
		}

		.ed-menu li.active {
			/*border-bottom: 2px solid #ff8004;*/
		}

			.ed-menu li:first-child {
				padding-left: 0;
			}

			.ed-menu li:last-child {
				padding-right: 0;
			}

			.ed-menu li a, .ed-menu a {
				color: #fff;
				text-decoration: none;
			}

			.ed-menu li.active a {
				color: #FFCA59;
			}

/*End top menu*/	

/*Start heading*/		

.ed-title-head {
	height: 150px;
	background: url('../../images/title-head-bg.jpg') no-repeat top center;
}	

	.ed-title-head h1 {
		font: 35px/50px 'Gilda Display', serif; !important;
		color: #755238;
		text-transform: uppercase;
		height: 112px;
		margin: 0;
		padding-top: 41px;
	}	
	
	.ed-title-head p.breadcrumbs {
		font: 300 12px/19px 'Open Sans', sans-serif !important;
		color: #c0c0c0;
		padding-top: 9px;
	}	

		.ed-title-head p.breadcrumbs a {
			color: #b4b3b3;
		}

/*End heading*/


/*Start left navigation*/	

.ed-content-nav {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 300;
	/*margin-top: -20px;*/
}


	.ed-content-nav h3, .ed-content-nav h3 a {
		color: #bebebe;
		font-size: 16px;
		text-align: left;
		font-weight: 300;
	}

	.ed-content-nav h3.active, .ed-content-nav h3.active a {
		color: #ae895e;
	}
	
	.ed-content-nav ul {
		text-align: left;
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px;
		padding-left: 0;
	}

		.ed-content-nav ul li {
			list-style-type: none;
			color: #c2c2c2;
			font-size: 14px;
			line-height: 22px;
			/*padding-left: 20px;*/
		}

			.ed-content-nav ul li a {
				color: #bebebe;
				cursor: default;
				text-align: left;
				paddinf-left: 0;
			}

			.ed-content-nav ul li.active a {
				/*font-weight: bold;*/
				cursor: default;
				color: #676767;
				
			}

				.ed-content-nav ul li a:hover {
					cursor: default;
					text-decoration: none;
				}

			.ed-content-nav ul li.active a:before {
				content: url('../../../images/check-active.png');
				display: inline-block;
				margin-left: -25px; margin-right: 5px;
				
				vertical-align: middle;
			}

/*End left navigation*/			


/*Start main content*/

.ed-main-content {
	text-align: left;
	margin-top: -10px;
	color: #676767;
}


	.ed-main-content h2 {
		color: #8b8b8b;
		font: 300 20px/30px 'Open Sans', sans-serif !important;
		margin-bottom: 38px;
	}

	.ed-main-content a {
		color: #21908f;
	}

.ed-action-btn	{
	border-top: 1px solid #ccc;
	padding-top: 20px;
	margin-top: 30px;
	text-align: right;
}

	.ed-action-btn .ed-cancel {
		background: #8b8b8b;
		color: #fff;
		font: 300 15px/23px 'Open Sans', sans-serif !important;
	}

	.ed-action-btn .ed-save {
		background: #31b484;
		color: #fff;
		font: 300 15px/23px 'Open Sans', sans-serif !important;
	}
	
	.ed-action-btn .ed-edit {
		background: #31b484;
		color: #fff;
		font: 300 15px/23px 'Open Sans', sans-serif !important;
	}
	
	.ed-action-btn .ed-delete {
		background: #8b8b8b;
		color: #fff;
		font: 300 15px/23px 'Open Sans', sans-serif !important;
	}
	

.ed-button 	{
	background: #5d4664;
	color: #fff;
}

	.ed-button a	{
		color: #fff;
	}

/*End main content*/


/*Start footer*/

.ed-footer {
	background: #ff8004;
	font-size: 12px;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}



/*End footer*/

#nav ul li{
	border-right:none;
	border-bottom:1px solid #e6e6e6;
	min-width:170px;
	min-height:20px;
	padding: 10px;
	display:block;
	visibility:visible}
#nav ul li a{
	border-right:none;
	color:#6791AD;
	text-shadow:1px 1px 1px #FFF;
	/*border-bottom:1px solid #FFF;*/
}
#nav ul li:hover{background:#DFEEF0}
#nav ul{display:none;visibility:hidden;position:absolute;top:40px;z-index:1;background:#f2f5f6;border-bottom:1px solid #DDD;border-right:1px solid #DDD;border-left:1px solid #DDD;border-radius:0 0 3px 3px;box-shadow:2px 2px 3px #ECECEC;-webkit-box-shadow:2px 2px 3px #ECECEC;-moz-box-shadow:2px 2px 3px #ECECEC;width:170px;padding:0}
#nav li:hover > ul{display:block;visibility:visible}
#nav{

	/*height:39px;*/
	/*font:12px Geneva, Arial, Helvetica, sans-serif;*/
	/*background:#3AB3A9;
	border:1px solid #30A097;
	border-radius:3px;
	min-width:500px;*/
	margin-left:0;
	padding-left:0
}
#nav li{
	list-style:none;
	/*display:block;
	float:left;*/
	padding-bottom: 20px;
	padding-top: 10px;
	display: inline-block;
	/*height:40px;*/
	line-height: 20px;
	position:relative;
	/*border-right:1px solid #52BDB5*/;
}
#nav li a {
	line-height:20px;
	text-decoration:none;
	/*border-right:1px solid #389E96;
	height:40px;*/
	color:#FFF;
	/*text-shadow:1px 1px 1px #66696B;*/
	display:block;
	margin:0;
	padding:0 10px 0 20px;
}
#nav .site-name,#nav .site-name:hover{
	padding-left:10px;
	padding-right:10px;
	color:#FFF;
	text-shadow:1px 1px 1px #66696B;
	font:italic 20px/38px Georgia, "Times New Roman", Times, serif;
	/*background:url(images/saaraan.png) no-repeat 10px 5px;*/
	/*min-width:160px;*/
	border-right:1px solid #52BDB5;
}

#nav .site-name a{
	min-width:129px;overflow:hidden}
/*#nav li.facebook{background:url(images/facebook.png) no-repeat 9px 12px}
#nav li.facebook:hover{background:url(images/facebook.png) no-repeat 9px 12px #3BA39B}
#nav li.yahoo{background:url(images/yahoo.png) no-repeat 9px 12px}
#nav li.yahoo:hover{background:url(images/yahoo.png) no-repeat 9px 12px #3BA39B}
#nav li.google{background:url(images/google.png) no-repeat 9px 12px}
#nav li.google:hover{background:url(images/google.png) no-repeat 9px 12px #3BA39B}
#nav li.twitter{background:url(images/twitter.png) no-repeat 9px 12px}
#nav li.twitter:hover{background:url(images/twitter.png) no-repeat 9px 12px #3BA39B}*/
#nav li:hover{background:#3BA39B;}
#nav ul li:last-child,#nav ul li:last-child a{border-bottom:none}
#nav ul ul,#nav ul ul ul{top:0;left:170px;display:none;visibility:hidden;border:1px solid #DDD;z-index:1}
<!--[if IE 7]>
<style>
#nav{
	margin-left:0px
}
#nav ul{
	left:-40px;
}
#nav ul ul{
	left:130px;

}
#nav ul ul ul{
	left:130px;

}
</style>
<![endif]-->


/* client icons*/
.clientIcon {
	height: 10px;	
}