#navi{
	font-size: 11pt;
	padding-left: 180px;
	padding-top: 10px;
}

#navi li{
	display: inline-block;
	float: left;
	position: relative;
	
}

section {
	background: #ff851b;
	box-shadow: 0px 2px 10px #aaaaaa;
	color: #fff;
	margin-bottom: 100px;
}

.search{
	padding: 20px;
}