#navi{
	font-size: 10pt;
	padding-top: 10px;
	letter-spacing: 1px;
	height: 80px;
}

#navi li{
	display: inline-block;
	float: left;
	position: relative;
	
}

section {
	background: #ff851b;
	box-shadow: 0px 2px 10px #aaaaaa;
	color: #fff;
	margin-bottom: 100px;
}

.search{
    float: right;
    position: relative;
    padding-right: 20px	
}

label{
	float:left;
	margin-top: 12px;
	margin-right: 15px;
}

input[type="radio"], input[type="checkbox"]{
	margin-top: 15px;
}

#clientdash{
    text-align: center;
    margin: 10px;
}
h1 img{
	padding-right: 20px;
}

#navInspi{
	letter-spacing: 1px;
	padding: 0 0 50px 20px;
}

#navInspi li{
	float: left;
	margin-right: 25px;
}

#navInspi a{
	text-decoration: none;
}

#navInspi a:hover{
	color: #ff851b;
}

.colorpicker{
	text-align: center;
}

.colorpicker label{
	width: 50%;
	font-size: 20px;
}

/* Effect 3: bottom line slides/fades in */
.cl-effect-3 a {
	padding: 8px 0;
}

.cl-effect-3 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #FFF;
/*	background: rgba(0,0,0,0.1); */
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/* Client Dashboard style */

#clientnav {
width: 960px;
margin: 0 auto;
text-align: center;
position: relative;
top: -195px;
}

#clientnav a {
	color: #fff;
}

#clientnav li{
display: inline-block;
padding: 40px 30px 40px 0;
}

#clientnav li:nth-child(1) {
padding-right: 50px;
padding-left: 50px;
}

#clientnav li:nth-child(2) {
padding-right: 70px;
}
#clientnav li:nth-child(3) {
padding-right: 60px;
}

#clientnav li:nth-child(4) {
padding-left: 120px;
}

